<div class="row">
  <div class="well well-lg clearfix">
    <div class="padded col-xs-12 col-md-3 col-md-offset-1">
      <h1 class="text-center">Hello I'm </br> Frederic Wibaux</h1>
      <p class="align-left">
        I'm the founder of <%= link_to "Revalue IT", "http://www.RevalueIT.co", target: "_blank" %>, a B2B platform offering a 2nd life to IT equipment. I have strong sales skills in highly competitive markets with a passion with growth. My skills also include digital marketing, project management. I've recently been learning web-development and followed <%= link_to "Le Wagon", "http://www.lewagon.com", target: "_blank" %> bootcamp last summer (2016).
      </p>
    </div>
    <div class=" text-center col-xs-12 col-md-4 hidden-xs hidden-sm">
        <% link_to "/", class: "navbar-wagon-brand profile" do %>
          <%= image_tag "Photo_FW_Le-Wagon.png" %>
        <% end %>
    </div>
    <div class=" text-center col-xs-12 col-md-4 hidden-md hidden-lg">
        <% link_to "/", class: "navbar-wagon-brand profile-square" do %>
          <%= image_tag "Photo_FW_Le-Wagon-square.png" %>
        <% end %>
    </div>
    <div class="contact text-center padded col-xs-12 col-md-3">
      <h1>Contact</h1>
      <p>
        <ul>
          <li><i class="fa fa-phone"></i> +33 6 75 67 66 92</li>
          <li><i class="fa fa-envelope"></i> <%= link_to "fwibaux@gmail.com", "mailto:fwibaux@gmail.com" %></li>
          <li><i class="fa fa-linkedin"></i> <%= link_to "LinkedIn Profile", "https://fr.linkedin.com/in/fredericwibaux", target: "_blank" %></li>
          <li><i class="fa fa-twitter"></i> <%= link_to "@fwibaux", "https://twitter.com/fwibaux", target: "_blank" %></li>
        </ul>
      </p>
    </div>
  </div>
</div>
