<div class="navbar-wagon">
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Text link -->
    <%= link_to "About me", "/", class: "navbar-wagon-item navbar-wagon-link" %>
    <!-- Text link -->
    <%= link_to "Projects", "/projects.html", class: "navbar-wagon-item navbar-wagon-link" %>
    <!-- Text link -->
    <%= link_to "Blog", "/blog.html", class: "navbar-wagon-item navbar-wagon-link" %>
    <!-- Button (call-to-action) -->
    <%= link_to "Contact me", "mailto:fw@fredericwibaux.com?subject=Hello", class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li class="text-center"><%= link_to "About me", "https://fwibaux.github.io/new-profile" %></li>
        <li class="text-center"><%= link_to "Projects", "/projects.html" %></li>
        <li class="text-center"><%= link_to "Blog", "/blog.html" %></li>
        <li class="text-center"><%= link_to "Contact me", "mailto:fwibaux@gmail.com?subject=Hello", class: "navbar-wagon-item navbar-wagon-button btn" %></li>
      </ul>
    </div>
  </div>
</div>
